.codes-table .widefat thead tr th {
	font-weight: bold;
}

.form-table-cg {
	border-collapse: collapse;
	margin-top: .5em;
	clear: both;
}

.form-table-cg th {
	width: 250px;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
}

.form-table-cg .input {
	width: 150px;
	text-align: left;
	vertical-align: middle;
}

.form-table-cg .desc {
	width: 600px;
	text-align: left;
	vertical-align: middle;
}

.form-table-import {
	border-collapse: collapse;
	margin-top: .5em;
	clear: both;
}

.form-table-import th {
	width: 250px;
	text-align: left;
	vertical-align: middle;
	padding-top: 20px;
}

.form-table-import .input {
	width: 150px;
	text-align: left;
	vertical-align: middle;
}

.form-table-import .desc {
	width: 400px;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
}

#instructions {
	width: 700px;
}

.export-table {
	width: 800px;
	word-wrap: break-word;
}

.export-table th {
	text-align: left;
}

